<div class="govuk-cookie-banner" data-nosnippet="" role="region" aria-label="Cookies on GOV.UK" id="cookie-banner">
    <div class="govuk-cookie-banner__message govuk-width-container" id="cookie-banner-unconfirm">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">
            Cookies on GOV.UK
          </h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We use some essential cookies to make this website work.</p>
            <p class="govuk-body">We’d like to set additional cookies to understand how you use GOV.UK, remember your settings and improve government services.</p>
            <p class="govuk-body">We also use cookies set by other sites to help us deliver content from their services.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button type="button" class="govuk-button" data-module="govuk-button" id="cookie-accept">
          Accept analytics cookies
        </button>
        <button type="button" class="govuk-button" data-module="govuk-button" id="cookie-reject">
          Reject analytics cookies
        </button>
        <a class="govuk-link" href="/cookies">View cookies</a>
      </div>
    </div>
    <div class="govuk-cookie-banner__message govuk-visually-hidden govuk-width-container" role="alert" id="cookie-accepted-confirm">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">You've accepted analytics cookies. You can <a class="govuk-link" href="/cookieshelp">change your cookie settings</a> at any time.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button type="button" class="govuk-button" data-module="govuk-button" id="cookie-accepted-hide">
            Hide this message
        </button>
      </div>
    </div>
    <div class="govuk-cookie-banner__message govuk-visually-hidden govuk-width-container" role="alert" id="cookie-rejected-confirm">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">You've rejected analytics cookies. You can <a class="govuk-link" href="/cookieshelp">change your cookie settings</a> at any time.</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button" data-module="govuk-button" id="cookie-rejected-hide">
            Hide this message
            </button>
        </div>
    </div>
</div>
<script src="/assets/javascripts/jquery.min.js"></script>
<script src="/assets/javascripts/cookie.js"></script>