<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

        <ul class="govuk-footer__inline-list">

          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" target="_blank" aria-label="Cookies opens same window"
              href="https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.gov.uk%2Fhelp%2Fcookies&data=04%7C01%7CSam.Bailey%40cognizant.com%7C41da88d84c0e4ad2b6ad08d8c142c748%7Cde08c40719b9427d9fe8edf254300ca7%7C0%7C0%7C637471840966722734%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C0&sdata=tfdkaI0VVmYcW8NFZ1Y3k99C4mVnc6g63LuFHLbMVLo%3D&reserved=0">
              Cookies
            </a>
          </li>
        </ul>

        <svg aria-hidden="true" focusable="false" alt="Open Government Licence v3.0" class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <!-- <a class="govuk-footer__link" aria-label="Open Government Licence v3.0"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open
            Government Licence v3.0</a>, except where otherwise stated -->
          <a class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open
            Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <!-- <a class="govuk-footer__link govuk-footer__copyright-logo1" aria-label="Crown copyright graphic link"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
          Crown copyright</a> -->
        <a class="govuk-footer__link govuk-footer__copyright-logo1"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
          Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="/assets/javascripts/example.js"></script>
<script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
<script type="text/javascript" src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
<script src="/assets/javascripts/govuk-frontend.js"></script>