<div class="govuk-grid-row govuk-form-group">
    <div class="govuk-grid-column-full">
        <nav aria-label="Sub navigation">
            <ul class="govuk-sub-navigation__list" id="navigation_links">
                <% if(ssn.dashboard_roles == 'BEIS Administrator') { %>
                <li class="govuk-sub-navigation__item" id="ga-li">
                    <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                        Public Authorities
                    </a>
                </li>
                <% } %>
                <% if(ssn.dashboard_roles != 'Granting Authority Encoder') { %>
                <li class="govuk-sub-navigation__item" id="user-li">
                    <a class="govuk-sub-navigation__link" href="/userselect">
                        Users
                    </a>
                </li>
                <% } %>
                <li class="govuk-sub-navigation__item" id="subsidyscheme-li">
                    <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                        Subsidy schemes
                    </a>
                </li>
                <li class="govuk-sub-navigation__item" id="admin-program-li">
                    <a class="govuk-sub-navigation__link" href="/adminprograms">
                        Admin Programs
                    </a>
                </li>
                <li class="govuk-sub-navigation__item" id="subsidyaward-li">
                    <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                        Subsidy awards
                    </a>
                </li>
                <div class="dropdown">
                    <li class="govuk-sub-navigation__item" id="mfa-li">
                        <a class="govuk-sub-navigation__link" href="#" onClick="return false;">MFA / SPEIA</a>
                        <div class="mfa-links">
                            <a class="govuk-sub-navigation__link" href="/mfagroupings">MFA / SPEIA Groupings</a>
                            <a class="govuk-sub-navigation__link" href="/mfaawards">MFA / SPEIA Awards</a>
                        </div>
                    </li>
                </div>

                <% if(ssn.dashboard_roles == 'BEIS Administrator' || ssn.dashboard_roles == 'Granting Authority Administrator') { %>
                <li class="govuk-sub-navigation__item" id="auditlog-li">
                    <a class="govuk-sub-navigation__link" href="/audithomepage"> Audit log </a>
                </li>
                <% } %>
                <li class="govuk-sub-navigation__item" id="help-li">
                    <!-- <a class="govuk-sub-navigation__link" download href="/assets/files/Internal guidance document.pdf">
                        Help
                    </a> -->
                    <a class="govuk-sub-navigation__link" href="/guidancedocument">Help</a>
                </li>
                <!-- <li class="govuk-sub-navigation__item head-right">
                    <a class="govuk-sub-navigation__link" href="/signout">
                        Sign out
                    </a>
                </li>
                <li class="govuk-sub-navigation__item head-right" id="myaccount-li">
                    <a class="govuk-sub-navigation__link" href="/useraccount">
                        My account
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
</div>