<p>Please include the following information in the description:</p>
<ul class="hyphen-list">
    <li>Summary of the Terms &amp; Conditions for eligibility</li>
    <li>Time limits or conditions attached to the use of the scheme</li>
    <li>The category of enterprises eligible</li>
    <li>The basis for calculating subsidies under the scheme, including a summary of any conditions relating to subsidy ratios or amounts</li>
    <li>The location(s) of the economic activities subsidised</li>
    <li>Whether the scheme is a SOI or SOPI</li>
    <li>Whether an SAU report was published following mandatory or voluntary referral</li>
    <li>Whether the SAU did not publish a report on a mandatory referral before the end of the reporting period and the public authority proceeded with making the scheme</li>
    <li>Whether the SoS made a post-award referral and whether a report was published (and on what date)</li>
</ul>

<p>Whether any of the following sections apply:</p>
<ul class="hyphen-list">
    <li>section 13 (the E&amp;E Principles)</li>
    <li>section 18 (relocation of activities)</li>
    <li>section 19 (rescuing)</li>
    <li>section 20 (restructuring)</li>
    <li>section 21 (restructuring deposit takers or insurance companies)</li>
    <li>section 2 (liquidating deposit takers or insurance companies)</li>
    <li>section 23 (liquidating provision for deposit takers or insurance companies)</li>
    <li>section 27 (subsidies for insurers that provide export credit insurance)</li>
    <li>section 28 (subsidies for air carriers for the operation of routes)</li>
    <li>section 29 (SPEI)</li>
    <li>section 36 (MFA)</li>
    <li>section 38 (SPEIA)</li>
    <li>section 43 (natural disasters and other exceptional circumstances)</li>
    <li>section 44 (national or global economic emergencies)</li>
    <li>section 47 (financial stability so far as the Treasury directs that the requirements as to transparency)</li>
    <li>section 48(1)(a) legacy subsidies</li>
    <li>section 50 (large cross-border or international cooperation projects)</li>
    <li>section 55 (SoS call-in direction)</li>
    <li>section 64(3) (SoS direction that mandatory referral requirements do not apply)</li>
</ul>