<table class="govuk-table" id="scheme-version-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">
                Last modified date
            </th>
        </tr>
    </thead>
    <tbody id="searchresult-table-body" class="govuk-table__body"></tbody>
    <% schemeVersions.forEach(function(item) { %>
        <tr>
            <td class="govuk-table__cell">
                <a href="/subsidymeasureversion?scNumber=<%= item.scNumber %>&version=<%= item.version %>">
                    <%= item.lastModifiedDate %>
                </a>
            </td>
        </tr>
    <% } ); %>
    </tbody>
</table>