
<p>Please include the following information in the description:</p>
<p> - Legal Basis</p>
<p> - Time limits or conditions attached to the use of the scheme.</p>
<p>  - The category of enterprises eligible</p>
<p>  - The basis for calculating, including a summary of any conditions relating to subsidy ratios or amounts</p>
<p> - Whether an SAU report was published following mandatory or voluntary referral</p>
<p> - Whether the SAU did not publish a report on a mandatory referral before the end of the reporting period and the public authority proceeded with making the scheme</p>
<p> - Whether the SoS made a post-award referral and whether a report was published (and on what date)</p>
<p> Whether any of the following sections apply:</p>
<p> - section 13 (the E&E Principles)</p>
<p> - section 18 (relocation of activities)</p>
<p> - section 19 (rescuing)</p>
<p> - section 20 (restructuring)</p>
<p> - section 21 (restructuring deposit takers or insurance companies)</p>
<p> - section 2 (liquidating deposit takers or insurance companies)</p>
<p> - section 23 (liquidating provision for deposit takers or insurance companies);</p>
<p> - section 27 (subsidies for insurers that provide export credit insurance)</p>
<p> - section 28 (subsidies for air carriers for the operation of routes)</p>
<p> - section 29 (SPEI)</p>
<p> - section 36 (MFA)</p>
<p> - section 38 (SPEIA)</p>
<p> - section 43 (natural disasters and other exceptional circumstances)</p>
<p> - section 44 (national or global economic emergencies)</p>
<p> - section 47 (financial stability so far as the Treasury directs that the requirements as to transparency);</p>
<p> - section 48(1)(a) legacy subsidies;</p>
<p> - section 50 (large cross-border or international cooperation projects)</p>
<p> - section 55 (SoS call-in direction)</p>
<p> - section 64(3) (SoS direction that mandatory referral requirements do not apply)</p>