.env
node_modules
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/index.html
coverage/lcov-report/transparency-db-admin-portal/app.js.html
coverage/lcov-report/transparency-db-admin-portal/index.html
coverage/lcov-report/transparency-db-admin-portal/routes/addgrantingauthority.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/addsubsidyaward.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/addsubsidyreview.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/awardsfilterroute.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/awardspageperroute.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/awardspageroute.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/bulkuploadsubsidy.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/cancelmysubsidy.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/choosedashboard.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/dashboard-beisadmin.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/dashboard-gaadmin.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/dashboard-gaapprover.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/dashboard-gaencoder.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/editgrantingauthority.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/formvalidation.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/index.html
coverage/lcov-report/transparency-db-admin-portal/routes/loginemailconfirmation.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/loginemailconfirmationexpiry.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/loginfirstpage.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/loginforgetpassword.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/loginnewpassword.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/loginpasswordcomplete.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/loginresetpassword.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/logintransparency.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/measurespageperroute.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/measurespageroute.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/mygrantingauthority.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/mysubsidyawards.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/mysubsidymeasures.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/reviewdetail.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/reviewdetailcancel.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/submitforapproval.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-action.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-approve-reject.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-cancel.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-edit-review.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-edit.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-fetch.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-reject.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-review-cancel.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-submitforapproval-edit.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidyaward-update.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidymeasure-edit.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidymeasure-reviewdetails.js.html
coverage/lcov-report/transparency-db-admin-portal/routes/subsidymeasures-add.js.html
test-report.html





package-lock.json
signout.js

