
<!DOCTYPE html>
<html>
  <%- include('../partials/header.ejs') %>


<div class="govuk-width-container ">

<body class="govuk-template__body app-example-page js-enabled">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>  
<form action="/form-handler" method="post" novalidate="">
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/loginfirstpage">Login</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/loginnewpassword">Create new password</a>
    </li>
  </ol>
</div>
</form>
<main class="govuk-main-wrapper " id="main-content" role="main"> 

  <% if( locals.isPasswordEmpty ){ %>                
    <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">          
            <ul class="govuk-list govuk-error-summary__list">   
           <li> <a href="#input-password"> Enter the password </a> </li> </ul>
         </div> 
    </div>        
    <% } else if (locals.isPasswordLengthLessThanTen) { %> 
    <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
      <div class="govuk-error-summary__body">          
          <ul class="govuk-list govuk-error-summary__list">   
         <li> <a href="#input-password"> Enter the password more than 8 characters </a> </li> </ul>
       </div> 
  </div>
      <% } else if (locals.isBothPasswordNotMatching) { %> 
        <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
          <div class="govuk-error-summary__body">          
              <ul class="govuk-list govuk-error-summary__list">   
             <li> <a href="#input-password"> The password and confirm password must be same </a> </li> </ul>
           </div> 
      </div>
      <% }%> 

  <h1 class="govuk-heading-xl">Create a new password</h1>
  <label class="govuk-label" for="input-email_address">Your new password must be 8 or more characters with a mix of upper and lower case letters and numbers. 
  <br />
  <br />
  </label>  

<form action="/loginpasswordcomplete" method="POST" novalidate="">
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <input id="csrf_token" name="csrf_token" type="hidden" value="ImIyODk3Zjc2ZDUxYWFlOWNiMGFkNTRiZjFiNTgyN2UxYWZlYjQ2YjYi.Xy8cwA.RZgIQFQ_nNp2cIuxopDG5tpMeLQ"/>

        <% if( locals.isPasswordEmpty || locals.isPasswordLengthLessThanTen || locals.isBothPasswordNotMatching  ){ %>  
        <div class="govuk-form-group govuk-form-group--error">
                   
          <span class="govuk-error-message" id="input-password-error">
            <span class="govuk-visually-hidden">Error:</span> Password
          </span>        
          <input name="password" class="govuk-input govuk-input--error" id="input-password" aria-describedby="input-password-error" type="password" autocomplete="current-password"/>
         </div>   
         
         <div class="govuk-form-group govuk-form-group--error">
                   
          <span class="govuk-error-message" id="input-password-error1">
            <span class="govuk-visually-hidden">Error:</span> Confirm Password
          </span>        
          <input name="password1" class="govuk-input govuk-input--error" id="input-password1" aria-describedby="input-password-error" type="password" autocomplete="current-password"/>
         </div> 

         <% } else { %> 
       <div class="govuk-form-group">
          <label class="govuk-label" for="input-password">Password</label>
          <input class="govuk-input" id="input-password" name="password" type="password" autocomplete="current-password"/>
          <br />  <br />
         <label class="govuk-label" for="input-password1">Confirm Password</label>
         <input class="govuk-input" id="input-password1" name="password1" type="password" autocomplete="current-password"/>
       </div>
       <% }%> 
      <button class="govuk-button" data-module="govuk-button">Reset password</button>   
  </div>
</div>
</form>
</main>
</body>
</div>

<%- include('../partials/footer.ejs') %>
</html>


 