<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Login page</title>
  <%- include('../partials/headercss.ejs') %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-145652997-21');
  </script>
</head>

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <%- include('../partials/header.ejs') %>


  <div class="govuk-width-container ">


    <!-- <form action="/form-handler" method="post" novalidate="">
        <div class="govuk-breadcrumbs ">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/loginfirstpage">Login</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/loginnewpassword">Create new password</a>
            </li>
          </ol>
        </div>
      </form> -->
    <main id="main-content" role="main">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help us to improve
            it.
          </span>
        </p>
      </div>

      <% if( locals.isPasswordEmpty ){ %>
      <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li> <a href="#input-password"> Enter the password </a> </li>
          </ul>
        </div>
      </div>
      <% } else if (locals.isPasswordLengthLessThanTen) { %>
      <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li> <a href="#input-password"> Enter the password more than 8 characters </a> </li>
          </ul>
        </div>
      </div>
      <% } else if (locals.isBothPasswordNotMatching) { %>
      <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li> <a href="#input-password"> The password and confirm password must be same </a> </li>
          </ul>
        </div>
      </div>
      <% }%>

      <h1 class="govuk-heading-xl">Create a new password</h1>
      <label class="govuk-label" for="input-email_address">Enter a new password – it must be at least 8 characters
        long.
        <br />
        <br />
      </label>

      <form action="/loginpasswordcomplete" method="POST" novalidate="">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <input id="csrf_token" name="csrf_token" type="hidden"
              value="ImIyODk3Zjc2ZDUxYWFlOWNiMGFkNTRiZjFiNTgyN2UxYWZlYjQ2YjYi.Xy8cwA.RZgIQFQ_nNp2cIuxopDG5tpMeLQ" />

            <% if( locals.isPasswordEmpty || locals.isPasswordLengthLessThanTen || locals.isBothPasswordNotMatching  ){ %>
            <div class="govuk-form-group govuk-form-group--error">

              <span class="govuk-error-message" id="input-password-error">
                <span class="govuk-visually-hidden">Error:</span> Password
              </span>
              <input name="password" class="govuk-input govuk-!-width-one-half govuk-input--error" id="input-password"
                aria-describedby="input-password-error" type="password" autocomplete="current-password" />
            </div>

            <div class="govuk-form-group govuk-form-group--error">

              <span class="govuk-error-message" id="input-password-error1">
                <span class="govuk-visually-hidden">Error:</span> Confirm Password
              </span>
              <input name="password1" class="govuk-input govuk-!-width-one-half govuk-input--error" id="input-password1"
                aria-describedby="input-password-error" type="password" autocomplete="current-password" />
            </div>

            <% } else { %>
            <div class="govuk-form-group">
              <label class="govuk-label" for="input-password">Password</label>
              <input class="govuk-input govuk-!-width-one-half" id="input-password" name="password" type="password"
                autocomplete="current-password" />
              <br /> <br />
              <label class="govuk-label" for="input-password1">Confirm Password</label>
              <input class="govuk-input govuk-!-width-one-half" id="input-password1" name="password1" type="password"
                autocomplete="current-password" />
            </div>
            <% }%>
            <button class="govuk-button" data-module="govuk-button">Reset password</button>
          </div>
        </div>
      </form>
    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>

</html>