<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Login page</title>
  <%- include('../partials/headercss.ejs') %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-145652997-21');
  </script>
</head>

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>

  <div class="govuk-width-container ">

    <main id="main-content" role="main">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help us to improve
            it.
          </span>
        </p>
      </div>

      <!-- <div class="govuk-breadcrumbs ">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/loginfirstpage">Login</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/loginforgetpassword">Forgotten Password</a>
            </li>
          </ol>
        </div> -->
      <% if( locals.isEmailEmpty ){ %>
      <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li> <a href="#input-email_address"> Enter email address </a> </li>
          </ul>
        </div>
      </div>
      <% } else if (!locals.isEmailValid ){ %>


      <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li> <a href="#input-email_address"> Enter valid email address </a> </li>
          </ul>
        </div>
      </div>
      <% } %>

      <!-- <p style="text-align: right;"><a style="color: #169BD5;" href="/loginfirstpage">Sign in</a></p> -->
      <h1 class="govuk-heading-xl">Reset your password</h1>
      <div class=" govuk-form-group">
        <label class="govuk-label" for="input-email_address">We’ll email you a link to reset your
          password.
        </label>
      </div>
      <form action="/loginemailconfirmation" method="POST" novalidate="">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <input id="csrf_token" name="csrf_token" type="hidden"
              value="ImIyODk3Zjc2ZDUxYWFlOWNiMGFkNTRiZjFiNTgyN2UxYWZlYjQ2YjYi.Xy8cwA.RZgIQFQ_nNp2cIuxopDG5tpMeLQ" />
            <% if( locals.isEmailEmpty || !locals.isEmailValid ){ %>
            <div class="govuk-form-group govuk-form-group--error">
              <!-- <label class="govuk-label" for="input-email_address">Email address</label> -->
              <div class="govuk-hint" id="input-email_address-hint">
                This must be the email address that you normally use to log in to your account.
              </div>

              <span class="govuk-error-message" id="input-email_address-error">
                <span class="govuk-visually-hidden">Error:</span> Enter an email address
              </span>
              <input name="email_address" class="govuk-input govuk-!-width-one-half govuk-input--error"
                id="input-email_address" aria-describedby="input-email_address-hint input-email_address-error"
                spellcheck="false" type="email" autocomplete="username" />
            </div>
            <!-- <div class="govuk-form-group">
              <p class="govuk-label">Already registered?<a href="/loginfirstpage"> Sign in to your account.</a></p>
            </div> -->
            <% } else { %>

            <div class="govuk-form-group">
              <label class="govuk-label" for="input-email_address">Email address</label>
              <div id="input-email_address-hint" class="govuk-hint">
                This must be the email address that you normally use to log in to your account.
              </div>
              <input class="govuk-input govuk-!-width-one-half" id="input-email_address" name="email_address"
                type="email" aria-describedby="input-email_address-hint" autocomplete="username" spellcheck="false" />
            </div>
            <!-- <div class="govuk-form-group">
              <p class="govuk-label">Already registered?<a href="/loginfirstpage" class="govuk-link"> Sign in to your
                  account.</a></p>
            </div> -->
            </br />
            <% } %>
            <button class="govuk-button" data-module="govuk-button">Send password reset link</button>

          </div>
        </div>
      </form>
    </main>
  </div>

  <%- include('../partials/footer.ejs') %>

</body>

</html>