.govuk-fieldset__heading {
  font-size: 3rem;
}
.govuk-login-button {
  width: 22%;
  box-shadow: 0 0px 0 #002d18;
}
.govuk-dashboard-list li {
  width: auto;
  float: left;
  margin-right: 3%;
  display: block;
}
.govuk-dashboard-list,
.govuk-account-logout {
  padding: 0;
}
.govuk-dashboard-list li a,
.govuk-account-logout li a {
  text-decoration: none;
  color: black;
}
.govuk-account-logout li {
  width: 50%;
  text-align: right;
  float: left;
}
.govuk-menu-list {
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 2%;
  margin-bottom: 15px;
  list-style: none;
  justify-content: flex-start;
  border-bottom: 2px solid gray;
}

.govuk-beis-heading h2 {
  color: rgb(177, 180, 182);
  font-size: 1.5em;
}

.govuk-charts label {
  color: rgb(29, 112, 184);
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  float: left;
  text-decoration: underline;
}
.govuk-total-count {
  font-size: 48px;
}
.govuk-charts label:hover {
  color: rgb(46, 138, 202);
}
.govuk-charts label:active {
  background-color: rgb(255, 221, 0);
}
.govuk-border-bottom {
  border-bottom: 6px solid rgb(29, 112, 184);

  margin: 2rem 0;
}
.govuk-fieldset_sub-heading {
  font-size: 1em;
  font-weight: bold;
}
.govuk-GA-heading {
  padding-bottom: 1%;
  color: black;
  font-weight: normal;
}
.govuk-table__row {
  border-top: 1px solid rgb(194, 196, 198);
}
.govuk-table__cell,
.govuk-table__header {
  padding: 18px 20px 18px 0;
}
.govuk-editGA {
  color: rgb(0, 93, 166);
}
table th,
table td {
  font-size: 16px;
}
table tbody th,
table tbody td {
  vertical-align: middle;
}
.btn-md {
  width: 15%;
}
.govuk-btn-boxshadow {
  box-shadow: 0 0 0 #002d18;
}
