body {
  margin: 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: GDS Transport, Arial, sans-serif;
}

/* section{
    width:100%;
}

section .container{
    max-width: 1366px;
    margin: 0px auto;
    padding: 20px 0px;
}

table{
    width: 100%;
    border: none;
    border-spacing: 0px;
}

table tr th{
    border-bottom: solid 2px black;
}

table tr td{
    border: none;
    border-bottom: solid thin gray;
    
}

table tr td, table tr th{
    padding: 10px;
    text-align: left;
}

table tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}

table tbody tr:hover{
    background-color: rgb(127, 227, 245);
    cursor: pointer;
} */

.pagination {
  /* display: grid;
  grid-template-columns: auto auto; */
  padding: 10px 0px;
  /* margin-top: 20px; */
}

/* .pagination .col.middle{
    display: inline-flex; 
    justify-content: right;
    text-align: right;
    margin: 10px 0px; 
} */

.pagination .col.last {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  /* margin: 10px 10px; */
  /* float : right; */
  left: 200;
}

.pagination p {
  margin: 10px 0px;
}

.pagination a {
  border: solid 1px #ffffff;
  padding: 8px 10px;
  text-decoration: none;
  color: #005da6;
}
.govuk-filter-input-position-div {
  position: relative;
}
.govuk-p-0 {
  padding: 0 !important;
}
.app-custom-class a {
  color: #1d70b8;
}
.clear-all {
  position: absolute;
  left: 290px;
  /* align-items: center; */
  /* display: inline-flex; */
  top: 6px;
  display: none;
}
/* .pagination a:hover,
.pagination a.active {
   background-color: rgb(229, 235, 236); 
  text-decoration: none;
} */
.pagination a:hover {
  color: rgb(86, 148, 202);
}
.pagination a.active {
  /* background-color: rgb(229, 235, 236); */
  text-decoration: none;
  color: black;
}
.pagination span:last-child {
  font-weight: bold;
}

.previous {
  background-color: #ffffff;
  color: black;
}

.govuk-button:focus:not(:active):not(:hover) {
  border: 2px solid #fd0;
  color: white;
  background-color: #00703c;
  -webkit-box-shadow: 0 0px 0 #0b0c0c;
  box-shadow: 0 0px 0 #0b0c0c;
}
.govuk-button:focus {
  border: 2px solid #fd0;
  color: white;
  background-color: #00703c;
  -webkit-box-shadow: 0 0px 0 #0b0c0c;
  box-shadow: 0 0px 0 #0b0c0c;
}
.downarrow {
  position: absolute;
  transform: rotate(180deg);
  /* bottom: 10px; */
  top: 21px;
  right: auto;
}

.uparrow {
  position: absolute;
  /* bottom: 20px; */
  top: 11px;
  right: auto;
}
/* .govuk-table__row th {
  position: relative;
} */

.govuk-select {
  background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.mfa-links {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.mfa-links a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fff;
}

/* Change color of dropdown links on hover */
.mfa-links a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .mfa-links {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}