body {
  margin: 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: GDS Transport, Arial, sans-serif;
}

/* section{
    width:100%;
}

section .container{
    max-width: 1366px;
    margin: 0px auto;
    padding: 20px 0px;
}

table{
    width: 100%;
    border: none;
    border-spacing: 0px;
}

table tr th{
    border-bottom: solid 2px black;
}

table tr td{
    border: none;
    border-bottom: solid thin gray;
    
}

table tr td, table tr th{
    padding: 10px;
    text-align: left;
}

table tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}

table tbody tr:hover{
    background-color: rgb(127, 227, 245);
    cursor: pointer;
} */

.pagination {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 0px;
  margin-top: 20px;
}

/* .pagination .col.middle{
    display: inline-flex; 
    justify-content: right;
    text-align: right;
    margin: 10px 0px; 
} */

.pagination .col.last {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin: 10px 10px;
  /* float : right; */
  left: 200;
}

.pagination p {
  margin: 10px 0px;
}

.pagination a {
  border: solid 1px #ffffff;
  padding: 8px 10px;
  text-decoration: underline;
  color: #005da6;
}
.govuk-filter-input-position-div {
  position: relative;
}
.govuk-p-0 {
  padding: 0;
}
.clear-all {
  position: absolute;
  left: 290px;
  /* align-items: center; */
  /* display: inline-flex; */
  top: 6px;
  display: none;
}
.pagination a:hover,
.pagination a.active {
  /* background-color: rgb(229, 235, 236); */
  text-decoration: none;
}

.pagination span {
  font-weight: bold;
}

.previous {
  background-color: #ffffff;
  color: black;
}

.govuk-button:focus:not(:active):not(:hover) {
  border: 2px solid #fd0;
  color: white;
  background-color: #00703c;
  -webkit-box-shadow: 0 0px 0 #0b0c0c;
  box-shadow: 0 0px 0 #0b0c0c;
}
.govuk-button:focus {
  border: 2px solid #fd0;
  color: white;
  background-color: #00703c;
  -webkit-box-shadow: 0 0px 0 #0b0c0c;
  box-shadow: 0 0px 0 #0b0c0c;
}
#downarrow {
  position: absolute;
  transform: rotate(180deg);
  top: 29px;
  right: 18px;
}

#uparrow {
  position: absolute;
  top: 19px;
  right: 18px;
}
.govuk-table__row th {
  position: relative;
}
