<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Add Granting Authority page</title>
  <%- include('../partials/headercss.ejs') %>
  <link href="/assets/stylesheet/govuk-tabs.css" rel="stylesheet" type="text/css" />
</head>
<!-- <link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
<script type="text/javascript" src="/assets/javascripts/script.js" defer></script>
<script src="/assets/javascripts/vendor/modernizr.js"></script> -->

<!-- <%- include('../partials/headersubsidy.ejs') %> -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-form-group">
      <div class="govuk-grid-column-full">
        <nav class="govuk-sub-navigation" aria-label="Sub navigation">
          <ul class="govuk-sub-navigation__list">
            <li class="govuk-sub-navigation__item">
              <a class="govuk-sub-navigation__link" aria-current="page" href="/mygrantingauthority">
                Granting Authorities
              </a>
            </li>
            <li class="govuk-sub-navigation__item">
              <a class="govuk-sub-navigation__link" href="/manageusers">
                Users
              </a>
            </li>
            <li class="govuk-sub-navigation__item">
              <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                Subsidy Schemes
              </a>
            </li>
            <li class="govuk-sub-navigation__item">
              <a class="govuk-sub-navigation__link" href="/subsidy-awards">
                Subsidy Awards
              </a>
            </li>
            <li class="govuk-sub-navigation__item head-right">
              <a class="govuk-sub-navigation__link" href="/loginfirstpage">
                Sign out
              </a>
            </li>
            <li class="govuk-sub-navigation__item head-right">
              <a class="govuk-sub-navigation__link" href="/useraccount">
                My account
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Granting Authority</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link active" href="#">Add Granting Authority</a>
        </li>
      </ol>
    </div>
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <!-- <div class="govuk-tabs" data-module="govuk-tabs">
        <div class="govuk-tabs__panel" id="addGA"> -->
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
        <h1 class="govuk-fieldset__heading">Add Granting Authority</h1>
      </legend>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters govuk-form-group">
          <!-- <form action="/filtersearch" method="POST" > -->
          <p>Granting Authority ID</p>
          <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text" />
          <!-- </form>  -->
        </div>

        <div class="govuk-grid-column-one-half govuk-form-group">
          <!-- <form action="/filtersearch" method="POST" > -->
          <p>Granting Authority Name</p>
          <input class="govuk-input" id="width-2" name="width-2" type="text" />
          <!-- </form>  -->
        </div>
        <div class="govuk-grid-column-three-quarters">
          <form action="/mygrantingauthority">
            <button class="govuk-button govuk-button--success">
              &nbsp; &nbsp; Add &nbsp; &nbsp;
            </button>
            <button class="govuk-button govuk-button--secondary">
              Cancel
            </button>
          </form>
        </div>
      </div>
      <!-- </div>
      </div> -->
    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
  <!-- <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script> -->
  <!-- <script src="/assets/javascripts/accordion/govuk-frontend.js"></script> -->

</body>

</html>