<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GOV.UK - Public user search page</title>
  </head>
  <!-- <%- include('../partials/header.ejs') %> -->
  <link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css" />
  
  <script
    type="text/javascript"
    src="/assets/javascripts/pagination.class.js"
  ></script>
  <script
    type="text/javascript"
    src="/assets/javascripts/script.js"
    defer
  ></script>
  <script src="/assets/javascripts/vendor/modernizr.js"></script>

  <!-- <%- include('../partials/headersubsidy.ejs') %> -->
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">   
        <div class="govuk-grid-column-full">
         <nav class="govuk-sub-navigation" aria-label="Sub navigation">
             <ul class="govuk-sub-navigation__list">
             <li class="govuk-sub-navigation__item">
               <a class="govuk-sub-navigation__link"  href="/mygrantingauthority">
                Granting Authorities
               </a>
             </li>      
             <li class="govuk-sub-navigation__item">
               <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                Subsidy Measures
               </a>
             </li>      
             <li class="govuk-sub-navigation__item">
               <a class="govuk-sub-navigation__link" href="/subsidyawards">
                Subsidy Awards
               </a>
             </li>      
              
             <li class="govuk-sub-navigation__item">
              <a class="govuk-sub-navigation__link" href="/manageusers">
                Manage users
              </a>
            </li> 

             <li class='govuk-sub-navigation__item head-right'>
              <a class="govuk-sub-navigation__link" href="/loginfirstpage">
                Sign out 
              </a>  
            </li>
            <li class='govuk-sub-navigation__item head-right'>
              <a class="govuk-sub-navigation__link" href="/loginfirstpage">
                My account 
              </a>   
            </li>
            </ul>  
          </nav> 
        
         </div>
            
      </div>


      <div class="govuk-beis-heading">
        <legend class="form-group">
          <h2>Dashboard</h2>
        </legend>
        <legend
          class="govuk-fieldset__legend govuk-fieldset__legend--l form-group"
        >
          <h1 class="govuk-fieldset__heading">Welcome Albert Einstein</h1>
        </legend>
        <div class="govuk-border-bottom">
          <div class="govuk-grid-row">
            <div
              class="govuk-grid-column-one-quarter govuk-charts govuk-form-group"
            >
              <label>Granting authorities</label>
              <p>Total granting authorities</p>
              <p
                class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count"
              >
                72
              </p>
            </div>
            <div
              class="govuk-grid-column-one-quarter govuk-charts govuk-form-group"
            >
              <label>Published by me</label>
              <p>Total granting authorities I've published</p>
              <p
                class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count"
              >
                15
              </p>
            </div>
            <div
              class="govuk-grid-column-one-quarter govuk-charts govuk-form-group"
            >
              <label>Deactive</label>
              <p>Total granting authorities that are not active</p>
              <p
                class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count"
              >
                5
              </p>
            </div>
            <div
              class="govuk-grid-column-one-quarter govuk-charts govuk-form-group"
            >
              <label>Not published</label>
              <p>Number of granting authorities that are not published</p>
              <p
                class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count"
              >
                5
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grantingauthority govuk-border-bottom">
        <legend
          class="govuk-fieldset__legend govuk-fieldset__legend--l form-group"
        >
          <h2 class="govuk-fieldset_sub-heading">Granting Authority</h2>
        </legend>
        <div class="govuk-addGA form-group">
          <button
            class="govuk-button govuk-button--success govuk-btn-boxshadow"
            id="getFilterTags"
          >
            Add granting authority
          </button>
        </div>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-GA-heading">
            My 5 last updated granting authorities
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th
                scope="col"
                class="govuk-table__header govuk-!-width-one-half"
              >
                Granting Authority name
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-!-width-one-quarter"
              >
                Status
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-!-width-one-quarter"
              >
                Last modified
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Adur District Council</a>
              </td>
              <td class="govuk-table__cell">Draft</td>
              <td class="govuk-table__cell">11 November 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">
                  Bath and North East Somerset Council
                </a>
              </td>
              <td class="govuk-table__cell">Finalized</td>
              <td class="govuk-table__cell">11 November 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Cardiff Council</a>
              </td>
              <td class="govuk-table__cell">Published</td>
              <td class="govuk-table__cell">11 November 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Cheltenham Borough Council</a>
              </td>
              <td class="govuk-table__cell">Deleted</td>
              <td class="govuk-table__cell">11 November 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Cotswold District Council</a>
              </td>
              <td class="govuk-table__cell">Published</td>
              <td class="govuk-table__cell">9 November 2020</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-grantingauthority govuk-border-bottom">
        <legend
          class="govuk-fieldset__legend govuk-fieldset__legend--l form-group"
        >
          <h2 class="govuk-fieldset_sub-heading">Users</h2>
        </legend>
        <div class="govuk-addGA form-group">
          <button
            class="govuk-button govuk-button--success btn-md govuk-btn-boxshadow"
            id="getFilterTags"
          >
            Add User
          </button>
        </div>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-GA-heading">
            My 5 last updated granting authorities
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th
                scope="col"
                class="govuk-table__header govuk-!-width-one-half"
              >
                Granting Authority name
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-!-width-one-quarter"
              >
                Users
              </th>
              <th
                scope="col"
                class="govuk-table__header govuk-!-width-one-quarter"
              >
                Last modified
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Adur District Council</a>
              </td>
              <td class="govuk-table__cell">Albert Einstein</td>
              <td class="govuk-table__cell">11 November 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">
                  Bath and North East Somerset Council
                </a>
              </td>
              <td class="govuk-table__cell">
                Albert Einstein
                <br />
                Philip Jones
              </td>
              <td class="govuk-table__cell">11 November 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Cardiff Council</a>
              </td>
              <td class="govuk-table__cell">
                Andrew Davis
                <br />
                Albert Einstein
                <br />
                Claire Smith
                <br />
                Michael Johnson
              </td>
              <td class="govuk-table__cell">11 November 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Cheltenham Borough Council</a>
              </td>
              <td class="govuk-table__cell">
                Albert Einstein
                <br />
                Michael Johnson
              </td>
              <td class="govuk-table__cell">11 November 2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Cotswold District Council</a>
              </td>
              <td class="govuk-table__cell">Albert Einstein</td>
              <td class="govuk-table__cell">9 November 2020</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-grantingauthority govuk-border-bottom">
        <legend
          class="govuk-fieldset__legend govuk-fieldset__legend--l form-group"
        >
          <h2 class="govuk-fieldset_sub-heading">Subsidy measures</h2>
        </legend>
        <div class="govuk-addGA form-group">
          <button
            class="govuk-button govuk-button--success govuk-btn-boxshadow"
            id="getFilterTags"
          >
            Add subsidy measure
          </button>
        </div>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-GA-heading">
            My 5 last updated subsidy measures
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Subsidy name</th>
              <th scope="col" class="govuk-table__header">
                Subsidy control no.
              </th>
              <th scope="col" class="govuk-table__header">
                Granting authority
              </th>
              <th scope="col" class="govuk-table__header">Start date</th>
              <th scope="col" class="govuk-table__header">End date</th>
              <th scope="col" class="govuk-table__header">Budget</th>
              <th scope="col" class="govuk-table__header">Duration</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Air discount scheme</a>
              </td>
              <td class="govuk-table__cell">SC12345</td>
              <td class="govuk-table__cell">
                Wholesale and retail trade; repair of motor vehicles and
                motorcycles
              </td>
              <td scope="row">
                <a href="" class="govuk-editGA">1 Janurary 2020</a>
              </td>
              <td class="govuk-table__cell">1 Janurary 2021</td>
              <td class="govuk-table__cell">1 year</td>
              <td class="govuk-table__cell">£632,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Air discount scheme</a>
              </td>
              <td class="govuk-table__cell">SC12345</td>
              <td class="govuk-table__cell">
                Wholesale and retail trade; repair of motor vehicles and
                motorcycles
              </td>
              <td scope="row">
                <a href="" class="govuk-editGA">1 Janurary 2020</a>
              </td>
              <td class="govuk-table__cell">1 Janurary 2021</td>
              <td class="govuk-table__cell">1 year</td>
              <td class="govuk-table__cell">£632,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Air discount scheme</a>
              </td>
              <td class="govuk-table__cell">SC12345</td>
              <td class="govuk-table__cell">
                Wholesale and retail trade; repair of motor vehicles and
                motorcycles
              </td>
              <td scope="row">
                <a href="" class="govuk-editGA">1 Janurary 2020</a>
              </td>
              <td class="govuk-table__cell">1 Janurary 2021</td>
              <td class="govuk-table__cell">1 year</td>
              <td class="govuk-table__cell">£632,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">Air discount scheme</a>
              </td>
              <td class="govuk-table__cell">SC12345</td>
              <td class="govuk-table__cell">
                Wholesale and retail trade; repair of motor vehicles and
                motorcycles
              </td>
              <td scope="row">
                <a href="" class="govuk-editGA">1 Janurary 2020</a>
              </td>
              <td class="govuk-table__cell">1 Janurary 2021</td>
              <td class="govuk-table__cell">1 year</td>
              <td class="govuk-table__cell">£632,000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-grantingauthority">
        <legend
          class="govuk-fieldset__legend govuk-fieldset__legend--l form-group"
        >
          <h2 class="govuk-fieldset_sub-heading">Subsidy Awards</h2>
        </legend>
        <div class="govuk-addGA form-group">
          <button
            class="govuk-button govuk-button--success govuk-btn-boxshadow btn-md"
            id="getFilterTags"
          >
            Add award
          </button>
        </div>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-GA-heading">
            My 5 last updated subsidy Award
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Award no.</th>
              <th scope="col" class="govuk-table__header">Measure title</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Recipient name</th>
              <th scope="col" class="govuk-table__header">
                Granting authority
              </th>
              <th scope="col" class="govuk-table__header">Subsidy amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">123456</a>
              </td>
              <td class="govuk-table__cell">Air discount scheme</td>

              <td class="govuk-table__cell">Published</td>

              <td class="govuk-table__cell">AA Animation Limited</td>

              <td class="govuk-table__cell">Scottish Government</td>

              <td class="govuk-table__cell">£632,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">123456</a>
              </td>
              <td class="govuk-table__cell">Air discount scheme</td>

              <td class="govuk-table__cell">Published</td>

              <td class="govuk-table__cell">AA Animation Limited</td>

              <td class="govuk-table__cell">Scottish Government</td>

              <td class="govuk-table__cell">£632,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">123456</a>
              </td>
              <td class="govuk-table__cell">Air discount scheme</td>

              <td class="govuk-table__cell">Published</td>

              <td class="govuk-table__cell">AA Animation Limited</td>

              <td class="govuk-table__cell">Scottish Government</td>

              <td class="govuk-table__cell">£632,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">123456</a>
              </td>
              <td class="govuk-table__cell">Air discount scheme</td>

              <td class="govuk-table__cell">Published</td>

              <td class="govuk-table__cell">AA Animation Limited</td>

              <td class="govuk-table__cell">Scottish Government</td>

              <td class="govuk-table__cell">£632,000</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row">
                <a href="" class="govuk-editGA">123456</a>
              </td>
              <td class="govuk-table__cell">Air discount scheme</td>

              <td class="govuk-table__cell">Published</td>

              <td class="govuk-table__cell">AA Animation Limited</td>

              <td class="govuk-table__cell">Scottish Government</td>

              <td class="govuk-table__cell">£632,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
  <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  <script src="/assets/javascripts/accordion/govuk-frontend.js"></script>
  <script src="/assets/javascripts/accordion/example.js"></script>
  <link
    href="/assets/stylesheet/govuk-transparencyDb.css"
    rel="stylesheet"
    type="text/css"
  />
</html>
