<!DOCTYPE html>
<html lang="en">

<!-- <%- include('../partials/headersubsidy.ejs') %> -->
<%- include('../partials/header.ejs') %>
<link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css" />
<link href="/assets/stylesheet/govuk-transparencyDb.css" rel="stylesheet" type="text/css" />
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <nav aria-label="Sub navigation">
          <ul class="govuk-sub-navigation__list">

            <li class="govuk-sub-navigation__item">
              <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                Subsidy Schemes
              </a>
            </li>
            <li class="govuk-sub-navigation__item">
              <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                Subsidy Awards
              </a>
            </li>

            <li class="govuk-sub-navigation__item head-right">
              <a class="govuk-sub-navigation__link" href="/logintransparency">
                Sign out
              </a>
            </li>
            <li class="govuk-sub-navigation__item head-right">
              <a class="govuk-sub-navigation__link" href="/logintransparency">
                My account
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>



    <div class="govuk-beis-heading">
      <legend class="form-group">
        <h2>Dashboard</h2>
      </legend>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
        <h1 class="govuk-fieldset__heading"><%= dashboard_user_name %></h1>
      </legend>
    </div>

    <div class="govuk-border-top">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
        <h2 class="govuk-fieldset_sub-heading">Subsidy schemes</h2>
      </legend>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">20
            </legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Total subsidy schemes</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-half govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
              4</legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Awaiting approval</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
              16</legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Published</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
              2</legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Draft</p>
          </div>


        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
              2</legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Deleted</p>
          </div>
        </div>
      </div>
      <div class="govuk-addGA govuk-form-group">
        <button class="govuk-button govuk-button--success" id="getFilterTags">
          Manage subsidy measures
        </button>
        <button class="govuk-button govuk-button--success" id="getFilterTags">
          Add subsidy measure
        </button>
      </div>
      <!-- <table class="govuk-table">
        <caption class="govuk-table__caption govuk-GA-heading">
          My 5 last updated subsidy measures
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Subsidy name</th>
            <th scope="col" class="govuk-table__header">
              Subsidy control no.
            </th>
            <th scope="col" class="govuk-table__header">
              Granting authority
            </th>
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
            <th scope="col" class="govuk-table__header">Duration</th>
            <th scope="col" class="govuk-table__header">Budget</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Air discount scheme</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Wholesale and retail trade; repair of motor vehicles and
              motorcycles
            </td>
            <td scope="row" class="govuk-table__cell">1 December 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£632,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="#" class="govuk-editGA">High-end television tax relief - United Kingdom</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Agriculture, forestry and fishing​
            </td>
            <td scope="row" class="govuk-table__cell">1 November 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£470,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Air discount scheme</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Agriculture, forestry and fishing​
            </td>
            <td scope="row" class="govuk-table__cell">1 October 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£500,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Air discount scheme</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Wholesale and retail trade; repair of motor vehicles and
              motorcycles
            </td>
            <td scope="row" class="govuk-table__cell">1 September 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£632,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Air discount scheme</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Wholesale and retail trade; repair of motor vehicles and
              motorcycles
            </td>
            <td scope="row" class="govuk-table__cell">1 August 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£632,000</td>
          </tr>
        </tbody>
      </table> -->
    </div>
    <div class=" govuk-border-top">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
        <h2 class="govuk-fieldset_sub-heading">Subsidy Awards</h2>
      </legend>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">100
            </legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Total subsidy awards</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-half govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
              5</legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Awaiting approval</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
              80</legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Published</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
              5</legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Draft</p>
          </div>


        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
              5</legend>
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Deleted</p>
          </div>
        </div>
      </div>
      <div class="govuk-addGA form-group">
        <button class="govuk-button govuk-button--success" id="getFilterTags">
          View all subsidy award
        </button>
        <button class="govuk-button govuk-button--success btn-md" id="getFilterTags">
          Add a new subsidy award
        </button>
      </div>
      <!-- <table class="govuk-table">
        <caption class="govuk-table__caption govuk-GA-heading">
          My 5 last updated subsidy awards
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Award no.</th>
            <th scope="col" class="govuk-table__header">Measure title</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Recipient name</th>
            <th scope="col" class="govuk-table__header">
              Granting authority
            </th>
            <th scope="col" class="govuk-table__header">Subsidy amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">123456</a>
            </td>
            <td class="govuk-table__cell">Air discount scheme</td>

            <td class="govuk-table__cell">Published</td>

            <td class="govuk-table__cell">AA Animation Limited</td>

            <td class="govuk-table__cell">Scottish Government</td>

            <td class="govuk-table__cell">£632,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">123456</a>
            </td>
            <td class="govuk-table__cell">Air discount scheme</td>

            <td class="govuk-table__cell">Published</td>

            <td class="govuk-table__cell">Abbey Productions Limited</td>

            <td class="govuk-table__cell">Scottish Government</td>

            <td class="govuk-table__cell">£470,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">123456</a>
            </td>
            <td class="govuk-table__cell">Air discount scheme</td>

            <td class="govuk-table__cell">Published</td>

            <td class="govuk-table__cell">Abbey Productions Limited</td>

            <td class="govuk-table__cell">Scottish Government</td>

            <td class="govuk-table__cell">£470,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">123456</a>
            </td>
            <td class="govuk-table__cell">Air discount scheme</td>

            <td class="govuk-table__cell">Published</td>

            <td class="govuk-table__cell">AA Animation Limited</td>

            <td class="govuk-table__cell">Scottish Government</td>

            <td class="govuk-table__cell">£632,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">123456</a>
            </td>
            <td class="govuk-table__cell">Air discount scheme</td>

            <td class="govuk-table__cell">Published</td>

            <td class="govuk-table__cell">Abbey Productions Limited</td>

            <td class="govuk-table__cell">Scottish Government</td>

            <td class="govuk-table__cell">£470,000</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </main>
</div>

<%- include('../partials/footer.ejs') %>
<script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
<script src="/assets/javascripts/accordion/govuk-frontend.js"></script>

</html>