<html>

<head>
  <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
  <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
  <script type="text/javascript" src="/assets/javascripts/govuk-cookie.js"></script>
  <script
    src="https://www.gov.uk/assets/static/libs/jquery/jquery-1.12.4-c731c20e2995c576b0509d3bd776f7ab64a66b95363a3b5fae9864299ee594ed.js"></script>
  <script
    src="https://www.gov.uk/assets/static/header-footer-only-ddf649cbdb4901b5c93284cdbd839d2316a590cbc9c05207a4938706eecba95a.js"></script>

  <link href="/assets/stylesheet/govuk-cookie.css" rel="stylesheet" type="text/css" />
  <link href="/assets/stylesheet/govuk-cookie1.css" rel="stylesheet" type="text/css" />
  <link href="/assets/stylesheet/govuk-cookie2.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
  <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
  <script type="text/javascript" src="/assets/javascripts/govuk-cookie.js"></script>
  <script
    src="https://www.gov.uk/assets/static/libs/jquery/jquery-1.12.4-c731c20e2995c576b0509d3bd776f7ab64a66b95363a3b5fae9864299ee594ed.js"></script>
  <script
    src="https://www.gov.uk/assets/static/header-footer-only-ddf649cbdb4901b5c93284cdbd839d2316a590cbc9c05207a4938706eecba95a.js"></script>

  <link href="/assets/stylesheet/govuk-cookie.css" rel="stylesheet" type="text/css" />
  <link href="/assets/stylesheet/govuk-cookie1.css" rel="stylesheet" type="text/css" />
  <link href="/assets/stylesheet/govuk-cookie2.css" rel="stylesheet" type="text/css" />

  <!-- <%- include('../partials/headersubsidy.ejs') %> -->
</head>

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <!-- <div id="global-cookie-message" class="gem-c-cookie-banner govuk-clearfix" data-module="cookie-banner" role="region" aria-label="cookie banner" > -->
  <div class="govuk-cookie-banner js-banner-wrapper" role="region" aria-label="Cookies on GOV.UK">
    <div class="gem-c-cookie-banner__message govuk-cookie-banner__message govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on GOV.UK</h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We use some essential cookies to make this website work.</p>
            <p class="govuk-body">We’d like to set additional cookies to understand how you use GOV.UK, remember your
              settings and improve government services.</p>
            <p class="govuk-body">We also use cookies set by other sites to help us deliver content from their services.
            </p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">



        <button class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-accept-cookies="true"
          data-track-category="cookieBanner" data-track-action="Cookie banner accepted" data-cookie-types="all">Accept
          additional cookies</button>





        <button class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-reject-cookies="true"
          data-track-category="cookieBanner" data-track-action="Cookie banner rejected">Reject additional
          cookies</button>


        <a class="govuk-link" href="/help/cookies">View cookies</a>
      </div>
    </div>
  </div>
  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1" hidden>
    <p class="gem-c-cookie-banner__confirmation-message" role="alert">You can <a class="govuk-link" href="/help/cookies"
        data-module="gem-track-click" data-track-category="cookieBanner"
        data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any
      time.</p>
    <div class="govuk-button-group">
      <button class="gem-c-cookie-banner__hide-button govuk-button" data-hide-cookie-banner="true"
        data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide
        this message</button>
    </div>
  </div>
  </div>
</body>

</html>