<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Subsidy Award submit for approval page</title>
  <%- include('../partials/headercss.ejs') %>
</head>


<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Award submitted for approval
            </h1>
            <h2 class="govuk-panel__body">
              Subsidy award number <%= locals.Subsidy_Control_Number_Global_Substring %>
            </h2>
          </div>



          <h3 class="govuk-heading-m">What happens next</h3>

          <p class="govuk-body">1. The award has been submitted for approval and is now in 'Awaiting approval' state.
          </p>
          <p class="govuk-body">2. Once approved, by an approver, it will be published.</p>
          <p class="govuk-body">3. If rejected, you will receive the notification with the reason</p>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <form action="/mysubsidyawards" method="GET" novalidate=""
                class="govuk-grid-column-one-half govuk-padding-0">
                <button class="govuk-button" data-module="govuk-button">Proceed to My subsidy awards</button>
              </form>
              <form action="/addsubsidyaward" method="GET" class="govuk-grid-column-one-half govuk-padding-0">
                <button class=" govuk-button govuk-button--secondary ">
                  Add another award
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>

</html>